    <!DOCTYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrinho</title>
        <link rel="stylesheet" href="/CSS/carrinho.css">
    </head>

    <body>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </div>

        <div class="container">
            <h1>Selecione os produtos</h1>

            <form action="/carrinho/pedido" method="POST">
                <label for="produtoId">Selecione o Produto:</label>
                <select name="produtoId" id="produtoId" required>
                    <% marmitas.forEach(marmita => { %>
                        <option value="<%= marmita.id %>"><%= marmita.sabor %> - R$ <%= marmita.preco.toFixed(2) %></option>
                    <% }); %>
                </select>
            
                <label for="quantidade">Quantidade:</label>
                <input type="number" name="quantidade" id="quantidade" min="1" required />
            
                <button type="submit">Finalizar Pedido</button>
            </form>          
            
        </div>
    </body>

    </html>
